ion-toolbar{
    background-color: var(--ion-color-customcolor);
}

.btn{
    background-color: var(--ion-color-dark);
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    font-size: 15px;
}

#container{
    text-align: center;
    position: absolute;
    left: 1%;
    top: 99%;
    transform: translateY(-99%);
}